@mixin flexCenter {
  display: flex;
  align-items: center;
}

.cart {
  background-color: #f2f2f2;
  margin: 50px 0;
  .cartWrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .cartMain {
      max-width: 700px;
      margin: 0 auto;

      .cartName {
        padding: 46px 0 23px 0;
        font-size: 50px;
      }

      .allCheckBox {
        @include flexCenter;
        justify-content: space-between;
        position: relative;
        border: 1px solid #f2f2f2;
        padding: 20px;
        margin-bottom: 20px;
        background-color: white;

        .allDeleteBtn {
          position: absolute;
          right: 20px;
          width: 80px;
          height: 30px;
          border: 1px solid rgb(0, 0, 0, 0.4);
          background-color: #f8f8f8;
        }
      }

      .cartInProducts {
        padding: 20px;
        background-color: white;
        position: relative;

        .hideBtn {
          border: none;
          background-color: white;
          color: rgb(0, 0, 0, 0.4);
          position: absolute;
          right: 13px;

          &:hover {
            color: black;
          }
        }
      }

      .address {
        padding-left: 100px;

        .addressInput {
          width: 400px;
          align-items: center;
        }
      }

      .addressAndName {
        @include flexCenter;
        padding-left: 20px;
        background-color: white;

        p {
          padding: 20px;
        }
      }

      .order {
        @include flexCenter;
        position: relative;
        height: 40px;
        padding: 0 20px;
        background-color: white;

        p {
          color: #7ba4db;
          font-weight: bold;
        }

        .orderBtn {
          position: absolute;
          right: 20px;
          width: 293px;
          height: 45px;
          background-color: #7ba4db;
          border: 1px solid #7ba4db;
          color: white;
        }
      }
    }

    .recentlyViewed {
      display: flex;
    }
  }
}
