.empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;

  .toDetail {
    text-decoration: none;
    color: gray;

    &:hover {
      color: green;
    }
  }
}
