.empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px 0;
  background-image: url('./cartbg.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  .toDetail {
    text-decoration: none;
    color: gray;

    &:hover {
      color: green;
    }
  }
}
