.products {
  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: white;
  border-top: 1px solid rgb(0, 0, 0, 0.1);

  p {
    display: inline;
  }

  .sellerInfo {
    border-radius: 15px;
  }

  .productDetail {
    display: flex;
    position: relative;
    align-items: center;

    .productCheckBox {
      position: absolute;
      top: 0;
      margin: 0;
    }

    .productImg {
      width: 140px;
      height: 100px;
      padding: 0 20px;
    }
    .productName {
      padding: 0 10px;
    }

    .deleteBtn {
      position: absolute;
      top: 0px;
      right: 0px;
      border: none;
      background-color: white;
      color: rgb(0, 0, 0, 0.4);
    }
  }

  .productOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    .deleteBtn {
      border: none;
      background-color: white;
      color: rgb(0, 0, 0, 0.4);
    }

    .count {
      input {
        width: 30px;
        text-align: center;
      }
    }

    .price {
      display: flex;
    }
  }
}
