html {
  scroll-behavior: smooth;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}

li {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.detailNavBar {
  width: 100%;
  height: 60px;
  border: 1px solid rgb(221, 221, 221);
  position: relative;
  bottom: 400px;

  text-align: center;
  line-height: 60px;

  .detailNavBarText {
    font-size: 16px;
  }
}

#detailDescriptionWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 130px;
  padding-right: 130px;
  bottom: 400px;
}
