.navBar {
  font-family: 'Arita', sans-serif;
  position: fixed;
  width: 100%;
  height: 6.1%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  border-bottom: 1px solid #d9d8d8;
}
.navLogo {
  img {
    width: 8rem;
    height: 3rem;
  }
}
.categories {
  display: flex;
  li {
    list-style: none;
    font-family: 'Arita', sans-serif;
    letter-spacing: -0.025em;
    padding: 0 1.2rem;
  }
  span {
    font-size: 1.125rem;
  }
}
.navIcons {
  i {
    font-size: 1.3rem;
  }
}
