.navBar {
  font-family: 'Arita', sans-serif;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 200px;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  border-bottom: 1px solid #d9d8d8;
}
.navLogo {
  margin-left: 20px;
  img {
    width: 8rem;
    height: 3rem;
  }
}
.categories {
  display: flex;
  font-size: 1.125rem;
  .category {
    display: inline-block;
    position: relative;
    color: black;
  }
  .category:hover {
    font-weight: bolder;
    cursor: pointer;
  }
  .category:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    top: 2.3rem;
    left: 0;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  .category:hover:after {
    transform: scaleX(1.5);
    transform-origin: bottom center;
  }

  li {
    list-style: none;
    font-family: 'Arita', sans-serif;
    letter-spacing: -0.025em;
    padding: 0 1.2rem;
  }
  span {
    font-size: 1.125rem;
  }
}
.navIcons {
  padding-right: 20px;
  button {
    border-style: none;
    background-color: transparent;
    padding: 0;
    margin-left: 20px;
    cursor: pointer;
  }
  .iconProfile {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../../../public/images/navIcons/profileIcon.png') 50% 50%
      no-repeat;
    background-size: 100%;
  }
  .iconLocation {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    background: url('../../../public/images/navIcons/locationIcon.png') 50% 50%
      no-repeat;
    background-size: 100%;
  }
  .iconSearch {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../../../public//images/navIcons/searchIcon.png') 50% 50%
      no-repeat;
    background-size: 100%;
  }
}
